<settings>
  <category label="32001">
    <setting id="minLengthNew" type="enum" label="30103" values="0|5|10|20|30" default="0"/>
    <setting id="showSubtitles" type="bool" label="30105" default="false"/>
    <setting id="useThumbAsFanart" type="bool" label="30104" default="true"/>
    <setting id="forceView" type="bool" label="30101" default="true"/>
    <setting id="viewIDShows" type="number" label="30106" default="500"/>
    <setting id="viewIDVideos" type="number" label="30102" default="51"/>
  </category>
  <category label="30150">
    <setting id="videoQuality" type="enum" lvalues="30152|30153|30154|30155" label="30151" default="2"/>
    <setting id="zdfMetaEnabled" type="bool" label="30156" default="true"/>
    <setting id="preferHttp" type="bool" label="30163" default="false" enable="eq(-1,true)"/>
    <setting id="expertEnabled" type="bool" label="30157" default="false"/>
    <setting id="forceHttp" type="bool" label="30158" default="false" enable="eq(-1,true) + eq(-3,true)"/>
    <setting id="rtspEnabled" type="bool" label="30159" default="false" enable="eq(-2,true)"/>
    <setting id="threegpEnabled" type="bool" label="30160" default="false" enable="eq(-3,true)"/>
    <setting id="wmv3Enabled" type="bool" label="30161" default="false" enable="eq(-4,true)"/>
    <setting id="httpEnabled" type="bool" label="30162" default="true" enable="eq(-5,true)"/>
  </category>
</settings>
