<settings>
   <category label="3009">
		<setting id="inhalt" type="select" label="30002" default="Video" values="Timeline|Hash|Video" />   
		<setting label="30014" type="bool" id="tv" default="true" enable='eq(-1,Video)' />
		<setting label="30015" type="bool" id="video" default="false" enable='eq(-2,Video)' />
		<setting label="30006" type="bool" id="alles_anzeige" default="false" enable='!eq(-1,TV)' />
		<setting label="30007" type="text" id="hashtag" default="" visible='eq(-4,Hash)' />
		<setting label="30004" type="slider" id="limit" default="2" range="1,1,20" option="int" />
		<setting label="30012" type="slider" id="lesezeit" default="6" range="1,1,60" option="int" />
		<setting id="listtype" type="select" label="30016" default="File" values="Url|File" />
		<setting id="listurl" type="text" label="30017" default="https://raw.githubusercontent.com/kodinerds/repo/master/addons/service.twitterfeed/filter.txt" visible='eq(-1,Url)'/>
		<setting id="listfile" type="file" label="30018"  default="" visible='eq(-2,File)'/>
	    <setting label="30005" type="action" action="RunPlugin(plugin://service.twitterfeed/?mode=clear)"/>	
		<setting label="dummy" type="text" id="clear" visible="false" />
		<setting label="30013" type="bool" id="greyout" default="true"  />
   </category>
   <category label="30010">	
        <setting label="30001" type="text" id="blacklist" />   
        <setting label="30003" type="text" id="country" />
        <setting label="30008" type="bool" id="bild" default="true"  />
        <setting label="30011" type="bool" id="urls" default="false"  />
    </category>
   
   
</settings>
 