<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
  <defaultcontrol always="true">10000</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <controls>
    <control type="group">
      <left>0</left>
      <top>0</top>
      <include>CommonViewBack</include>	
	  
	  <control type="image">
		<left>-20</left>
		<top>-20</top>
		<width>1240</width>
		<height>1100</height>
		<texture background="true">skin/button_klein_tranz90.png</texture>
		<bordertexture border="10">ThumbShadow.png</bordertexture>
		<bordersize>6</bordersize>
		<colordiffuse>$VAR[ColorButtonDialogeBack]</colordiffuse>		
	  </control>
	  
	  <include>CommonHomeButton</include>
	  <include>BigInfosTime</include>
	  <include>HomePlaying</include> 

	  <control type="image">
		<left>1300</left>
		<top>387</top>
		<width>450</width>
		<height>600</height>
		<texture background="true">home/infobox.png</texture>
		<bordertexture border="10">home/infobox_shadow.png</bordertexture>
		<bordersize>6</bordersize>	
		<colordiffuse>$VAR[BackColorButton]</colordiffuse>	
	  </control>
	  <control type="image">
		<left>1310</left>
		<top>400</top>
		<width>430</width>
		<height>250</height>
		<texture background="true" diffuse="home/infobox_diffuse.png">home/info_settings2.png</texture>
	  </control>
	  <control type="textbox" id="6">
		<description>description area</description>
		<left>1330</left>
		<top>662</top>
		<width>390</width>
		<height>305</height>
		<font>primal_16</font>
		<align>left</align>
		<label>[COLOR $VAR[ColorFontSelected]]$INFO[Container(10000).ListItem.Label2][/COLOR]</label>
		<textcolor>$VAR[ColorFontSelected]</textcolor>
		<shadowcolor>$VAR[ColorFontShadow]</shadowcolor>
		<autoscroll time="3000" delay="10000" repeat="5000">true</autoscroll>
	  </control>
      <control type="list" id="10000">
	    <include>Animation.ZoomIn</include>
        <left>60</left>
        <top>70</top>
        <width>1200</width>
        <height>920</height>
        <onleft>9020</onleft>
        <onright>10000</onright>
        <onup>10000</onup>
        <ondown>10000</ondown>
        <pagecontrol>-</pagecontrol>
		<focusposition>1</focusposition>
        <scrolltime>300</scrolltime>
        <orientation>vertical</orientation>
        <preloaditems>2</preloaditems>
        <itemlayout height="134" width="565">  
		  <control type="image">
            <left>30</left>
			<top>30</top>
			<width>60</width>
			<height>60</height>
            <texture>$INFO[ListItem.Thumb]</texture>
			<colordiffuse>$VAR[ColorIcons]</colordiffuse>
          </control>
		  <control type="label">
			<left>150</left>
			<top>0</top>
			<width>1000</width>
			<height>80</height>
			<font>primal_16_Title</font>
			<textcolor>$VAR[ColorFontNormal]</textcolor>
	        <shadowcolor>$VAR[ColorFontShadow]</shadowcolor>
			<align>left</align>
			<aligny>center</aligny>
			<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
		  </control>
		  <control type="textbox">
			<left>150</left>
			<top>57</top>
			<width>1000</width>
			<height>100</height>
			<font>primal_13</font>
			<align>left</align>
			<shadowcolor>$VAR[ColorFontShadow]</shadowcolor>
			<label>[COLOR $VAR[ColorFontNormal]]$INFO[ListItem.Label2][/COLOR]</label>
			<autoscroll time="2000" delay="10000" repeat="5000">false</autoscroll>
		  </control>
        </itemlayout>
        <focusedlayout height="134" width="855">
		  <control type="image">
			<left>137</left>
			<top>6</top>
			<width>1017</width>
			<height>120</height>
			<texture background="true">skin/button_klein_tranz50.png</texture>
		    <colordiffuse>$VAR[BackColorButton]</colordiffuse>
		  </control>
		  <control type="image">
            <left>30</left>
			<top>30</top>
			<width>60</width>
			<height>60</height>
            <texture>$INFO[ListItem.Thumb]</texture>
			<colordiffuse>$VAR[ColorFontSelected]</colordiffuse>
          </control>
		  <control type="label">
			<left>150</left>
			<top>0</top>
			<width>1000</width>
			<height>80</height>
			<font>primal_16_Title</font>
			<textcolor>$VAR[ColorFontSelected]</textcolor>
	        <shadowcolor>$VAR[ColorFontShadow]</shadowcolor>
			<align>left</align>
			<aligny>center</aligny>
			<label>[UPPERCASE]$INFO[ListItem.Label][/UPPERCASE]</label>
		  </control>
		  <control type="textbox">
			<left>150</left>
			<top>57</top>
			<width>1000</width>
			<height>100</height>
			<font>primal_13</font>
			<align>left</align>
			<shadowcolor>$VAR[ColorFontShadow]</shadowcolor>
			<label>[COLOR $VAR[ColorFontNormal]]$INFO[ListItem.Label2][/COLOR]</label>
			<autoscroll time="2000" delay="10000" repeat="5000">false</autoscroll>
		  </control>
        </focusedlayout>
        <content>
          <item id="1">
            <label>$LOCALIZE[14200]</label>
            <label2>$LOCALIZE[50060]</label2>
            <onclick>ActivateWindow(PlayerSettings)</onclick>
            <thumb>home/homeicons/presentation.png</thumb>
          </item>
          <item id="2">
            <label>$LOCALIZE[14202]</label>
            <label2>$LOCALIZE[50061]</label2>
            <onclick>ActivateWindow(MediaSettings)</onclick>
            <thumb>home/homeicons/film.png</thumb>
          </item>
          <item id="3">
            <label>$LOCALIZE[50062]</label>
            <label2>$LOCALIZE[50063]</label2>
            <onclick>ActivateWindow(PVRSettings)</onclick>
            <thumb>home/homeicons/tv.png</thumb>
          </item>
          <item id="5">
            <label>$LOCALIZE[14206]</label>
            <label2>$LOCALIZE[50066]</label2>
            <onclick>ActivateWindow(InterfaceSettings)</onclick>
            <thumb>home/homeicons/skin.png</thumb>
          </item>
          <item id="6">
            <label>$LOCALIZE[705]</label>
            <label2>$LOCALIZE[50067]</label2>
            <onclick>ActivateWindow(ServiceSettings)</onclick>
            <thumb>home/homeicons/network.png</thumb>
          </item>
		  <item id="7">
			<label>15016</label>
			<label2>31002</label2>
			<onclick>ActivateWindow(GameSettings)</onclick>
			<!--<visible>System.GetBool(gamesgeneral.enable)</visible>-->
			<thumb>home/homeicons/games.png</thumb>
		  </item>
          <item id="9">
            <label>$LOCALIZE[24001]</label>
            <label2>$LOCALIZE[50068]</label2>
            <onclick>ActivateWindow(AddonBrowser)</onclick>
            <thumb>home/homeicons/addons.png</thumb>
          </item>
          <item id="7">
            <label>$LOCALIZE[13000]</label>
            <label2>$LOCALIZE[50069]</label2>
            <onclick>ActivateWindow(SystemSettings)</onclick>
            <thumb>home/homeicons/settings.png</thumb>
          </item>
		  <item id="11">
            <label>$LOCALIZE[13200]</label>
            <label2>$LOCALIZE[50071]</label2>
            <onclick>ActivateWindow(Profiles)</onclick>
            <thumb>home/homeicons/profiles.png</thumb>
          </item>
		  <item id="12">
            <label>$LOCALIZE[50073]</label>
            <label2>$LOCALIZE[50072]</label2>
            <onclick>ActivateWindow(SystemInfo)</onclick>
            <thumb>home/homeicons/sysinfo.png</thumb>
          </item>
		  <item id="13">
            <label>$LOCALIZE[7]</label>
            <label2>$LOCALIZE[50246]</label2>
            <onclick>ActivateWindow(FileManager)</onclick>
            <thumb>home/homeicons/data.png</thumb>
          </item>
		  <!--<item id="14">
            <label>$LOCALIZE[20077]</label>
            <label2>$LOCALIZE[50070]</label2>
            <onclick>ActivateWindow(SkinSettings)</onclick>
            <thumb>home/homeicons/blume.png</thumb>
          </item>-->
        </content>
      </control>
    </control>
  </controls>
</window>