<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <setting id="username" type="text" label="Username" default=""/>
   <setting id="password" type="text" label="Password" option="hidden" default=""/>
   <setting id="community" type="text" label="Community" default=""/>
   <setting id="communitypassword" type="text" label="Comunity Password" option="hidden" default=""/>
   <setting id="service" type="bool" label="service" default="true" />
</settings>