<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30011">
		<setting type="lsep" label="30014" />
		<setting id="show_onstart" type="bool" label="30015" default="true" />
		<setting id="numreminders" type="labelenum" label="30016" values="1|2|3|4|5" enable="eq(-1,true)" default="3" />
		<setting id="interval" type="labelenum" label="30017" lvalues="30030|30031|30032|30033|30034|30035" enable="eq(-2,true)" />
		<setting id="lastnoticeduration" type="labelenum" label="30021" lvalues="30036|30037|30038|30039" enable="eq(-3,true)" />
		<setting type="sep" />
		<setting id="abort_notification" type="action" label="30018" option="close" action="RunScript(service.calendar,action=abort_reminders)" />
		<setting type="lsep" label="30022" />
		<setting id="additional_timestamps" type="bool" label="30020" default="true" />
		<setting id="timemax" type="labelenum" label="30023" lvalues="30024|30025|30026|30027|30028" default="2" />
	</category>
	<category label="30012">
		<setting id="host" type="text" label="30041" default="" />
		<setting id="user" type="text" label="30042" default="" />
		<setting id="passwd" type="text" option="hidden" label="30043" default="" />
		<setting id="enc" type="labelenum" label="30049" values="STARTTLS|SSL/TLS|None" default="SSL/TLS" />
        <setting type="sep" />
        <setting id="sender" type="text" label="30044" default="" />
		<setting id="recipient" type="text" label="30045" default="" />
		<setting id="charset" type="text" label="30048" default="ISO-8859-1" />
        <setting type="sep" />
		<setting id="checksettings" type="action" label="30055" option="close" action="RunScript(service.calendar,action=check_mailsettings)" default="" />
	</category>
	<category label="30013">
		<setting id="requireauthkey" type="action" label="30080" option="close" action="RunScript(service.calendar,action=require_oauth_key)" />
		<setting id="reenterauthkey" type="action" label="30084" option="close" action="RunScript(service.calendar,action=reenter_oauth_key)" />
		<setting id="loadoauthkey" type="action" label="30085" option="close" action="RunScript(service.calendar,action=load_oauth_key)" />
		<setting type="sep" />
		<setting id="calendars" type="action" label="30090" option="close" action="RunScript(service.calendar,action=set_calendars)" default="primary" />
		<setting id="notifications" type="action" label="30092" option="close" action="RunScript(service.calendar,action=set_notifications)" default="primary" />
	</category>
	<category label="30029">
		<setting type="lsep" label="30050" />
		<setting id="glotz_enabled" type="bool" label="30051" default="false" />
		<setting id="glotz_apikey" type="text" label="30052" default="" enable="eq(-1,true)" />
		<setting id="glotz_loadkey" type="action" label="30088" option="close"
				 action="RunScript(service.calendar,action=load_glotz_key)" enable="eq(-2,true)" />
		<setting id="glotz_color" type="action" label="30053" default="808080" option="close"
				 action="RunScript(script.skin.helper.colorpicker,winproperty=glotz_color)" enable="eq(-3,true)"/>
		<setting id="glotz_notify" type="bool" label="30054" default="true" enable="eq(-4,true)"/>
	</category>
</settings>
