<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Allgemein">
		<setting label="Download Verzeichnis" type="folder" id="download_path" default=""/>
		<setting label="Zeige Doku-Quelle in Beschreibung" type="bool" id="show_doku_source" default="true"/>
		<setting label="Zeige Fanart" type="bool" id="show_doku_fanart" default="true"/>
		<setting label="Zeige 'Hauptmenü' in Episoden" type="bool" id="show_main_menu_folder" default="true"/>
		<setting type="sep"/>
		<setting label="Ändere ViewID" type="bool" id="change_view" default="false"/>
		<setting label="ViewID Episoden" type="number" id="change_view_episodes" enable="eq(-1,true)" default="503"/>
	</category>
	<category label="Menü">
		<setting label="Zeige 'Die neuesten Dokus'" type="bool" id="show_menu_new" default="true"/>
		<setting label="Zeige 'Die neuesten reUploads'" type="bool" id="show_menu_reup" default="true"/>
		<setting label="Zeige 'Aufsteiger der Woche'" type="bool" id="show_menu_week" default="true"/>
		<setting label="Zeige 'Top Dokus des Monats'" type="bool" id="show_menu_month" default="true"/>
		<setting label="Zeige 'Top Dokus des Jahres'" type="bool" id="show_menu_year" default="true"/>
		<setting label="Zeige 'Suche'" type="bool" id="show_menu_search" default="true"/>
		<setting label="Zeige 'Kategorien'" type="bool" id="show_menu_cats" default="true"/>
		<setting label="Zeige 'A-Z'" type="bool" id="show_menu_abc" default="true"/>
		<setting label="Zeige 'meine Downloads'" type="bool" id="show_menu_dl" default="false"/>
	</category>
</settings>
