<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Allgemein">
		<setting id="playmethod" type="enum" label="Wiedergabemethode" values="Inputstream|Nativ" default="0"/>
		<setting id="maxbandwith" type="number" label="max. Bandbreite" default="0" visible="eq(-1,1)" />
		<setting id="maxresolution" type="enum" label="max. Auflösung" values="360p|480p|720p|1080p|Max" default="4" visible="eq(-2,1)" />
	</category>
</settings>