<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
		<category label="30000">
		<setting label="30230" type="lsep"/>
		<setting label="30110" type="bool" id="inputstream" default="false"/>
		<setting label="30350" type="text" option="readable" enable="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30231" type="lsep"/>
		<setting label="30111" type="slider" id="cacheTime" range="6,6,96" default="24" option="int"/>
		<setting type="sep"/>
		<setting label="30112" type="action" action="RunPlugin(plugin://plugin.video.sporttotal/?mode=clearCache)" visible="true"/>
		<setting type="sep"/>
	</category>
</settings>
