<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Allgemein">
      <setting id="email" type="text" label="E-Mail" default="" />
      <setting id="password" type="text" option="hidden" label="Passwort" default="" />
      <setting id="region" type="labelenum" label="Region" values="DE|AT" default="DE" />
      <setting id="payment" type="labelenum" label="Zahlungsmethode" values="PayPal" default="PayPal" />
	  <setting id="d51" type="bool" label="Dolby Digital 5.1" default="false" />
      <setting id="packageonly" type="bool" label="Nur Paketinhalte anzeigen" default="true" />
      <setting id="enablelibraryfolder" type="bool" label="In Bibliothek integrieren" default="false" />
      <setting id="customlibraryfolder" type="folder" label="Pfad" enable="eq(-1,true)" default="special://profile/addon_data/plugin.video.maxdome" source="auto" option="writeable" subsetting="true" /> 
  </category>
</settings>
